body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  min-height: 100vh;

  /* theme */
  --primary: rgba(0, 168, 67, 1);
  --secondary: rgb(42, 56, 66, 1);
  --borderColor: rgba(69, 94, 112, 1);
  --textColor: rgba(42, 56, 66, 1);
  --placeholderColor: rgba(42, 56, 66, 0.6);
  --fontSize1: 40px;
  --fontSize2: 28px;
  --fontSize3: 24px;
  --fontSize4: 20px;
  --fontSize5: 16px;
  --fontSize6: 14px;
  --fontButton: 18px;
}
#root > div {
  flex: 1;
}

/* globals */
a {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}
